<title>{{dashboard.name}}</title>
<div id="dashboard-page-header">
    <div class="row" style="padding-left:10px;padding-right:5px">
        <div class="col-md-3" style="padding:0">
            <div>
                <h4 class="dash-title">
                     <button type="button" class="dboard-edit-btn" title="Dashboard Options" data-toggle="modal" data-target="#dashboard-options">
                        <span class="glyphicon glyphicon-cog" style="font-size:16px;position:relative;top:1px"></span>
                    </button>
                    <a href="#/{{dashboard._id}}">
                        <span style="padding:0 10px;">{{dashboard.name}}</span>
                    </a>
                    <sub style="font-weight:normal;font-size:11px"> {{dashboard.tags|array2string}}</sub>
                </h4>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div ng-if="peeled" style="margin: 10px 0">{{dashboardMeta|formattedDashboardMeta}}</div>
        </div>
        <div class="col-md-3" style="text-align:right;padding:0">
            <dashboard-exporter ng-if="!peeled"></dashboard-exporter>
        </div>
    </div>
</div>