<div class="dropdown" style="display:inline-block;">
    <div class="dropdown-toggle" data-toggle="dropdown">
        <div style="border-left: 1px solid #ccc">
            <button class="btn btn-theme btn-sm" style="padding:13px;border-left:1px solid #fff;border-radius:0">
                <span class="glyphicon glyphicon-time" style="position:relative;top:2px"></span>
                <span style="padding: 0 5px;">{{timeDimension.types.Relative.start}}-ago</span><span class="caret"></span>
            </button>
        </div>
    </div><!-- style="min-width:136px;margin-top:14px;"-->
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="trange in ['1h','2h','3h','6h','12h', '24h']" ng-class="{active: timeDimension.types.Relative.start == trange}">
            <a href="javacript:void(0)" ng-click="setTimeWindow(trange)">{{trange}}-ago</a>
        </li>
    </ul>
</div>
<!--<td style="height:10px;border:1px solid #ccc;width:{{relativeTimeScale.1w}}%"></td>-->
<!--<table style="width:100%;">
    <tr>
        
        <td class="time-section" ng-click="setTimeWindow('1d')" ng-class="{selected: timeDimension.types.Relative.start=='1d'}" style="width:{{relativeTimeScale.1d}}%;">
            <div style="font-size:10px;">1d</div>
            <div class="time-slice"></div>
        </td>
        <td class="time-section" ng-class="{selected: timeDimension.types.Relative.start=='12h'}" style="width:{{relativeTimeScale.12h}}%;" ng-click="setTimeWindow('12h')">
            <div style="font-size:10px;">12h</div>
            <div class="time-slice"></div>
        </td>
        <td class="time-section" ng-class="{selected: timeDimension.types.Relative.start=='6h'}" style="width:{{relativeTimeScale.6h}}%;" ng-click="setTimeWindow('6h')">
            <div style="font-size:10px;">6h</div>
            <div class="time-slice"></div>
        </td>
        <td class="time-section" ng-class="{selected: timeDimension.types.Relative.start=='3h'}" style="width:{{relativeTimeScale.3h}}%;" ng-click="setTimeWindow('3h')">
            <div style="font-size:10px;">3h</div>
            <div class="time-slice"></div>
        </td>
        <td class="time-section" ng-class="{selected: timeDimension.types.Relative.start=='2h'}" style="width:{{relativeTimeScale.2h}}%;" ng-click="setTimeWindow('2h')">
            <div style="font-size:10px;">2h</div>
            <div class="time-slice"></div>
        </td>
        <td class="time-section" ng-class="{selected: timeDimension.types.Relative.start=='1h'}" style="width:{{relativeTimeScale.1h}}%;" ng-click="setTimeWindow('1h')">
            <div style="font-size:10px;">1h</div>
            <div class="time-slice"></div>
        </td>
    </tr>
</table>-->
