<table class="table" style="margin-bottom:0px;border:none;" time-selector ng-switch="timeDimension.activeType">
    <tr ng-switch-when="Absolute">
        <td style="border-left: 1px solid #ccc;padding:0;vertical-align:middle">
            <div style="border-left: 1px solid #fff">
                <time-range-selector></time-range-selector>
            </div>
        </td>
        <td style="width:55px;border-left:1px solid #ccc;padding:0" ng-click="timeDimension.activeType = 'Relative'">
            <div style="border-left:1px solid #fff">
                <button type="button" class="btn btn-theme" style="padding: 13px 20px">
                    <span class="glyphicon glyphicon-time" title="Change to relative time"></span>
                </button>
            </div>
        </td>
    </tr>
    <tr ng-switch-default>
        <td style="vertical-align:middle;text-align:right">
            <auto-updater></auto-updater>
            <relative-time-selector></relative-time-selector>
        </td>
        <td style="width:55px;border-left:1px solid #ccc;padding:0" ng-click="timeDimension.activeType = 'Absolute'">
            <div style="border-left:1px solid #fff">
                <button type="button" class="btn btn-theme" style="padding: 13px 20px">
                    <span class="glyphicon glyphicon-calendar" title="Change to custom range"></span>
                </button>
            </div>
        </td>
    </tr>
</table>