<div>
    <div class="input-group input-group-sm">
        <div class="input-group-addon">Aggregator</div>
        <select class="form-control app-select" ng-model="query.aggregator" ng-options="aggr for aggr in aggregators">
        </select>
        <!--<input type="text" class="form-control" ng-model="query.aggregator">-->
        <div class="input-group-addon">
            <span style="padding-right:10px">Rate</span>
            <input type="checkbox" ng-model="query.rate" >
        </div>
    </div>
    <div style="margin:5px"></div>
    <div class="input-group input-group-sm">
        <div class="input-group-addon">Metric</div>
        <input type="text" class="form-control" ng-model="query.metric" provider-name="providerName" autocomplete search-type="'opentsdb:metrics'">
    </div>
    <div style="margin:3px"></div>
    <div style="padding: 0 0 0 10px;font-size:12px;">
        <div style="height:30px;display:table">
            <div style="display:table-cell;vertical-align:middle">
                <b>Tags</b>
            </div>
        </div>
        <div style="margin-left:30px;">
            <div class="input-group-list">
                <div class="input-group input-group-sm" ng-repeat="(tagKey, tagValue) in query.tags">
                    <span class="input-group-addon">{{tagKey}}</span>
                    <input type="text" class="form-control" ng-model="tagValue">
                    <div class="input-group-btn">
                        <button class="btn btn-theme" ng-click="removeTag(tagKey)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="input-group input-group-sm" style="margin-top:10px">
                <input type="text" class="form-control" ng-model="query.tags" style="border-radius:30px" tag-key-value placeholder="host=foo.bar.org" autocomplete search-type="'opentsdb:tags'" provider-name="providerName">
                <span class="input-group-addon" style="border:none;padding-right:7px">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
    </div>
</div>